html {
    overflow-y: scroll;
  }

body {
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto Flex', sans-serif;

}


nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: hidden;
    background-color: #414288;
    
}

.nav-button{
    font-size:calc(16px + 1.5vw);
    background-color: #414288;
    color: white;
    transition-duration: 0.4s;
    padding: 32px;
    border: none;
}

.nav-button:hover {
    background-color: #FFBF00; /* Green */
    color: black;
}
  
.nav-button:active {
    background-color: darkgray; /* Green */
    color: white;
}


.nav-button-mob{
    font-size:calc(16px + 1.5vw);
    background-color: #414288;
    color: white;
    transition-duration: 0.4s;
    padding: 32px;
    border: none;
}

.nav-button-mob:hover {
    background-color: #FFBF00; /* Green */
    color: black;
}
  
.nav-button-mob:active {
    background-color: darkgray; /* Green */
    color: white;
}

@media only screen and (max-width: 1091px) {


    .nav-button  {
        display: none;
    }

    #mobileMenu{
        visibility: visible;
    }
    
    #collapsible-content-mob {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .wrap-collabsible {
        width: 20%
    }

}

@media only screen and (min-width: 1092px) {
    #mobileMenu{
        display: none;
    }
}

#root {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    
    padding: 16px;
    flex-grow: 1;
    font-size:calc(12px + 1.5vw);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    color: white;
    background-color: #414288;
    margin-top: auto;
    width: auto;
    font-size:calc(6px + 1.5vw);
}

footer > a {
    text-decoration: none;
    color: white;
}

.portfolio-button {
    font-size:calc(16px + 1.5vw);
    background-color: #414288;
    color: white;
    transition-duration: 0.4s;
    padding: 32px;
    margin: 16px;
    border: none;
}

.portfolio-button:hover {
    background-color: #FFBF00; /* Green */
    color: black;
}
  
.portfolio-button:active {
    background-color: darkgray; /* Green */
    color: white;
}




h1 {
    text-align: center;
}


article {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    background-color: #799496;
    padding: 32px;
    border-radius: 15px;
    margin-top: 32px;
    opacity: 0.8;
    width: 80vw;
    text-align: center;
}

article > h3 {
    text-align: center;
    width: 100%;
}

article > p {
    margin: 16px;
    display: inline;
}

article > img {
    margin: 16px;
    width: 100%;
    opacity: 0.8;
}


.stack-article {
    flex-direction: row;
}

#technologiesArticle {
    flex-direction: column;
}

@media only screen and (min-width: 1092px) {

    article {
        flex-direction: row;
        align-content: center;
        align-items: center;
        text-align: justify;
    }
    article > img {
        width: 40%;
    }
    article > button {
        width: 20%;
        
    }

    article > p {
        width: 60%
    }

    article > h2 {
        width: 20%;
        text-align: center;
    }



    a {
        display: inline;
    }

    /* STICKY NAVBAR */
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        overflow: hidden;
        background-color: #414288;
        padding: 10px;
        
    }
    /* The sticky class is added to the navbar with JS when it reaches its scroll position */
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99;
    }
    /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
    .sticky + .content {
        padding-top: 60px;
    }
    #root {
        padding-top: 96px;
    }
    /* STICKY NAVBAR END */ 

}



ul {
    list-style-type: none;
    width: 80%;
}

li {
    width: 90%;
}

#article-previous-employers {
    display: flex;
    flex-direction: column;
}

.stack-icon {
    height: 32px;
    width: auto;
    margin: 8px;
    height: 1.5em;
}

.stack-article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: col;
    width: 80vw;
    align-content: center;
}


/* SCROLLBAR SETTINGS */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


/* CSS FOR COLLAPSIBLE BUTTONS*/

input[type='checkbox'] { 
    display: none; 
} 

.wrap-collabsible { 
    margin: 1.2rem 0; 
    width: 100%;
} 

.lbl-toggle { 
    display: block; 
    font-size:calc(10px + 1.5vw);
    text-transform: uppercase;
    text-align: center; 
    padding: 1rem; 
    color: #DDD; 
    background: #414288; 
    cursor: pointer; 
    border-radius: 7px; 
    transition: all 0.25s ease-out; 
} 
    
.lbl-toggle:hover { 
    background-color: #FFBF00; /* Green */
    color: black;
} 

.lbl-toggle::before { 
    content: ' '; 
    display: inline-block; 
    border-top: 5px solid transparent; 
    border-bottom: 5px solid transparent; 
    border-left: 5px solid currentColor; 
    vertical-align: middle; 
    margin-right: .7rem; 
    transform: translateY(-2px); 
    transition: transform .2s ease-out; 
} 

.toggle:checked+.lbl-toggle::before { 
    transform: rotate(90deg) translateX(-3px); 
} 

.collapsible-content { 
    max-height: 0px; 
    overflow: hidden; 
    transition: max-height .25s ease-in-out; 
} 

.toggle:checked + .lbl-toggle + .collapsible-content {
     max-height: 450px; 
} 

.toggle:checked+.lbl-toggle { 
    border-bottom-right-radius: 0; 
    border-bottom-left-radius: 0; 
} 

.collapsible-content .content-inner { 
    background: #799496; 
    border-bottom-left-radius: 7px; 
    border-bottom-right-radius: 7px; 
    padding: .5rem 1rem; 
} 

.collapsible-content p { 
    margin-bottom: 0; 
}



